.buy {
  background-color: #e4f6e8;
}

.sell {
  background-color: #fbe6e7;
}

.profit {
  font-weight: 600;
  color: green;
}

.loss {
  font-weight: 600;
  color: red;
}

.total {
  font-weight: 600;
  background-color: #d3d3d3;
}
